language: c
dist: trusty
sudo: required
before_install:
  - sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
  - sudo apt-get update && sudo apt-get install -y gcc-multilib nasm
script:
  - ./test.sh
